
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :gender, "Gender" %><br /> 
  <%= f.text_field :gender %> 
</div>
<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<% if @omniauth.blank? %>

		<div class="field">
		  <%= f.label :password %><br />
		  <%= f.password_field :password %>
		</div>
		<div class="field">
		  <%= f.label :password_confirmation, "Confirmation" %><br />
		  <%= f.password_field :password_confirmation %>
	   </div>
<% else %>
	<%= f.hidden_field(:external, :value => false)%>
<% end %>

<div class="field">
  <%= f.label :country, "Country" %><br /> 
  <%= f.text_field :country %> 
</div>
<div class="field">
  <%= f.label :department, "Department" %><br /> 
  <%= f.text_field :department %> 
</div>
<div class="field">
  <%= f.label :level, "What are you planning to do at UNM?" %><br /> 
  <%= f.text_field :level %> 
</div>

<%#= f.inputs :name %>
<%#= f.inputs :email %>
<%#= f.inputs :gender, :include_blank => false %>
<%#= f.inputs :password %>
    
<%= @omniauth.inspect %>
